/* 노멀라이징 */
body, ul , li {
  padding:0;
  margin: 0;
  list-style:none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* 라이브러리 */
.con {
  margin-right:auto;
  margin-left: auto;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction:column;
}
.flex-grow {
  flex-grow:1;
}
.flex-shrink-0 {
  flex-shrink:0;
}
.flex-1 {
  flex:0 0 1;
}
.align-center{  
align-items:center;
}
.justify-center {
 justify-content:center;
}
.justify-end {
  justify-content: flex-end;
}
.gap-30px {
  gap:30px;
}
.margin-b-30px{
margin-bottom:30px;
}

/* 커스텀 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
  font-family:'GmarketSansMedium';
}

.section {
  width: 100vw;
  height:100vh;
}

/* section1 */
.section-1 {
  position:relative;
}
.bg-img {
  position:absolute;
  top:0;
  left:0;
}
.section-1 .bg-img > img {
  width:100vw;
  height:100vh;
  object-fit:cover;
  z-index:-1;
}
.section-1-txt {
  position:absolute;
  top: 150px;
  left: 100px;
}
.section-1-txt > .txt-content {
  font-size:1.5rem;
  font-weight:bold;
  color: #FF884B;
}
.section-1-txt > .txt-title {
  margin-top:-20px;
  font-size: 2.5rem;
  font-weight:bold;
  color: #FF884B;
}
.section-1-main-img {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.section-1-main-img > div {
  padding: 10px;
}
.section-1-main-img > div:nth-child(1) > img {
  margin-top: 100px;
  animation: margin-top-1 2s;
}
.section-1-main-img > div:nth-child(2) > img {
 margin-top: 0;
}
.section-1-main-img > div:nth-child(3) > img {
 margin-top: 100px;
  animation: margin-top-1 2s;
}

@keyframes margin-top-1 {
  from {
    margin-top: 300px;
  }
  to {
    margin-top: 100px;
  }
}

/* section2 */
.section-2 {
  background-color: #f2f2f2;
}
.section-2-1 {
  height:350px;
}

.overview {
  font-size:2.5rem;
  font-weight:bold;
}
.section-2-1 > .overview-txt {
  margin:0;
  font-size:1.3rem;
}
.section-2-1 > .overview-txt > span {
  background:linear-gradient(to top, #FFAD4B 60%, #ffffbb 50%);
}
.section-2-2 > .survey-t {
  font-size:1.2rem;
}
.survey-wrap {
  width: 1200px;
  height: 370px;
  background-color:#FFFAF2;
  border-radius:50px;
  border:5px dashed #FF884B;
}
.section-2-2 > .survey-wrap > .survey {
  margin: 60px;
  height:350px;
}
.section-2-2 > .survey-wrap > .survey > .survey-q {
  font-size: 1.3rem;
  font-weight:bold;
}
.section-2-2 > .survey-wrap > .survey > .survey-a {
  margin: 5px;
  font-weight:bold;
  font-size:1.1rem;
}
.section-2-2 > .survey-wrap > .survey > .survey-a > span {
  font-size:0.9rem;
  background: linear-gradient(to top, #ff5454 50%, #fffaf2 50%);
}
.survey-a-stick {
  height: 30px;
  background-color: #959595;
  border-radius:10px;
}
.survey-a-stick-1 {
  width: 300px;
}
.survey-a-stick-2 {
  width: 30px;
}
.survey-a-stick-3 {
  width: 104px;
}
.survey-a-stick-4 {
  width: 196px;
}
.survey-a-stick-5 {
  width: 224px;
}
.survey-a-stick-6 {
  width: 32px;
}

/* section3 */
.section-3 {
  width: 1200px;
  margin-right:auto;
  margin-left: auto;
}
.section-3-title {
  height: 250px;
  margin-left: 10px;
}
.section-3-title > .section-3-e {
  margin:0;
  font-size: 1.5rem;
  font-weight:bold;
}
.section-3-title > .section-3-q {
  font-size:1.3rem;
  margin-top: 40px;
  font-weight:bold;
}
.a-box-wrap {
margin-top: -50px;
}
.a-box {
  width: 360px;
  height: 180px;
  background-color:#f2f2f2;
  border-radius:50px;
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
 justify-content:center;  
  position:relative;
   border:5px double #FF884B;
}
.a-box > p:first-child {
  font-size:1.1rem;
  padding:10px;
}
.age-name {
  position:absolute;
  top:130px;
  font-size: 1rem;
}
.section-3-img {
  display:flex;
   justify-content:center;
}
.section-3-img > img {
  width: 220px;
}

/* section4 */
.section-4-txt {
  height: 300px;
}
.section-4-txt > .solution {
  font-size:2.5rem;
  font-weight:bold;
  margin:0;
}
.solution-wrap {
  width: 1600px;
  margin-right: auto;
  margin-left:auto;
  position:relative;
  margin-top: -100px;
}
.solution-img1 {
  position:absolute;
  top:50px;
  left:0;
}
.solution-img2 {
  position:absolute;
  top:50px;
  left: 100px;
  z-index:1;
}
.solution-img2 > img,
.solution-img4 > img{
  width: 274px;
}
.solution-cont {
  position:absolute;
  top:70px;
  left: 430px;
}
.solution-txt-1 {
  font-weight:bold;
  font-size:1.2rem;
}
.solution-txt-1-b {
  background:linear-gradient(to top,#FF884B 50%, #fffaf2 50%);
}
.solution-img4 {
  position:absolute;
  top: 50px;
  left: 1300px;
}
.solution-cont-2 {
  position:absolute;
  top: 400px;
  left: 820px;
}
.solution-img3 {
  position:absolute;
  left: 960px;
}
.solution-img3 > img{
  width: 350px;
}

.solution-img5 {
  position:absolute;
  top: 320px;
  left: 500px;
}
.solution-img5 > img {
width: 280px;
}

/* section5 */
.section-5 {
  background-color:pink;
}
.section-5-wrap {
  position:relative;
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

/* .section-5 .bg-img > img {
  width:100vw;
  height:100vh;
  object-fit:cover;
  z-index:-1;
} */

.section-5 > div > .section5-img {
position:absolute;
}

.section-5 > div > .section5-img > img {
  width: 274px;
}

.section-5 .section5-img1 {
  top: 50px;
  left: 50px;
}
.section-5 .section5-img2 {
  top: 100px;
  left: 120px;
  z-index:1;
}
.section-5 .section5-img3 {
  top: 150px;
  left: 190px;
  z-index:2;
}
.section-5 .section5-img4 {
  top: 150px;
  left: 650px;
  z-index:2;
}
.section-5 .section5-img5 {
  top: 150px;
  left: 850px;
  z-index:2;
}
.section-5 .section5-img6 {
  top: 150px;
  left: 1050px;
  z-index:2;
}
.section-5 .section5-img7 {
  top: 150px;
  left: 1250px;
  z-index:2;
}
.click-button-wrap-1 {
  position:absolute;
  top: 160px;
  left: 250px;
}
.click-button-wrap > .click-button {
  background-color: orange;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.popup-button {
  position:absolute;
  width: 245px;
  height: 50px;
  background-color: rgba(255,103,25,0.3);
  top:152px;
  left:15px;
  cursor:pointer;
  opacity:0;
}
.popup-button.popup-active {
  opacity:1;
  visibility:visible;
}
.section5-img4,
.section5-img5,
.section5-img6,
.section5-img7 {
  transform:translatex(200px);
  opacity:0;
}
.section5-img4.click-active,
.section5-img5.click-active,
.section5-img6.click-active,
.section5-img7.click-active {
  transform:translatex(0);
  opacity:1;
}
.section5-img4.click-active {
  transition: 1s;
}
.section5-img5.click-active {
  transition: 2s;
}
.section5-img6.click-active {
  transition: 3s;
}
.section5-img7.click-active {
  transition: 4s;
}